body {
    background-image: url(../assets/home/background-home-desktop.jpg);
}

main {
    padding: 0 300px !important;
    margin-top: 200px;
    color: white;
    text-align: left;
}

main h3 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 4px;
}

main h2 {
    font-size: 120px;
    text-transform: uppercase;
    letter-spacing: 15px;
    width: 100%;
}

main p {
    margin-top: 30px;
    width: 560px;
    width: 95%;
}

.button-block {
    text-align: right;
}

main button {
    width: 300px;
    height: 300px;
    border: none;
    border-radius: 50%;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 300;
    transition: box-shadow o.5s ease;
    color: black;
}

main button:hover {
    box-shadow: 0 0 10px 40px rgba(255, 255, 255, 0.362);
}

@media (max-width: 1350px) {
    main {
        padding: 0 100px !important;
    }
}

@media (max-width: 990px) {
    body {
        background-image: url(../assets/home/background-home-tablet.jpg);
    }
    .header {
        padding: 20px;
    }
    main {
        margin-top: 20px;
    }
    main .row {
        flex-direction: column;
    }
    .text-block {
        text-align: center;
    }
    main p {
        margin-top: 20px;
    }
    main h2 {
        font-size: 90px;
    }
    main button {
        width: 200px;
        height: 200px;
        font-size: 24px;
    }
    main .button-block {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
}

@media (max-width: 580px) {
    main {
        margin-top: 50px;
        padding: 0 20px !important;
    }
}